
<!DOCTYPE html>
<html>
<head>
    <title>Cinema Hall</title>
    <style>
        .center-screen {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
        }

        hr {
            height: 50px;
            border-width: 0;
            background-color: #00A4BD;
        }
        .seat-button {
          border: 2px solid #ddd;
          background-color: #fff;
          color: #555;
          font-size: 16px;
          padding: 10px;
          margin: 5px;
          cursor: pointer;
        }

        .seat-button.selected {
          background-color: #007bff;
          color: #fff;
        }
    </style>
</head>
<body>
    <h1>Select Seats</h1>
    <hr>
    <div class="center-screen">
        <h3>Screen</h3>
    </div>
    <form action="@Url.Action("BookMovieShow", "MovieShows")" method="post">
        <input type="hidden" name="movieShowId" value="@ViewBag.MovieShowId" />
        <input type="hidden" name="cinemaHallId" value="@ViewBag.cinemaHallId" />
        <table class="center-screen" action="">
            <column>

        @for (int i = 1; i <= 50; i++)
        {

            if (i % 5 == 1)
            {
               @:<row>
                    @:<tr>
                
            }
            <td>
               <input type="checkbox" id="A@(i)" name="seatSelection" value="@i">
               <label for="A@(i)">A@(i)</label>
            </td>
            if (i % 5 == 0 || i == 50)
            {
                
                    @:</tr>
               @:</row>
            }
        }
            </column>
        </table>
        <button type="submit" class="btn btn-primary">Book</button>
   </form>
</body>
</html>
@section Scripts{
    <script>
        var seatButtons = document.querySelectorAll(".seat-button");

        // Add event listeners to each seat button
        seatButtons.forEach(function (button) {
          button.addEventListener("click", function () {
            // Toggle the "selected" class of the clicked button
            button.classList.toggle("selected");
          });
        });
    </script>
}
