<div class="row">
    <div class="col-md-12">
        <section>
            <h2>Select seat:</h2>
            <div class="seat">
                <div class="col-md-12">
                    <div>
                        <ul class="row">
                            <li class="">I</li>
                            <li class="">
                                <ul></ul>
                                <ul></ul>
                                <ul></ul>
                                <ul></ul>
                            </li>
                            <li class="">I</li>
                        </ul>
                        <ul>a</ul>
                        <ul>a</ul>
                        <ul>a</ul>
                        <ul>a</ul>
                        <ul></ul>
                    </div>
                    <div class="screen">
                        Man Hinh
                    </div>
                    <div class="">
                        <span>Ghe da chon</span>
                        <span>Ghe da ban</span>
                        <span>Ghe co the chon</span>
                        <span>Khong the chon</span>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>