@model IEnumerable<OnlineBookingTicket.Models.MovieVMs.ListMovieVM>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Movies</h1>
@if (TempData["Message"] != null)
{
    <script type="text/javascript">
        window.onload = function () {
            alert("@TempData["Message"].ToString()");
        };

    </script>
}
<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-4">
            <div class="card">
                <a asp-controller="Movies" asp-action="Details" asp-route-id="@item.Id">
                    <img class="card-img-top"
                     src="Image/@item.Image" alt="Card image cap">
                </a>
                <div class="card-body">
                    <h5 class="card-title">@item.Title</h5>
                </div>
            </div>
        </div>
    }
</div>
