@model IEnumerable<OnlineBookingTicket.Models.MovieVMs.ListMovieVM>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-4">
            <div class="card">
                <img class="card-img-top" src="@item.Image" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">@item.Title</h5>
                </div>
            </div>
        </div>
    }
</div>
